<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Bio Trio - all theaters</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<main>
    <div class="margin_auto">
        <h1><a class="btn_log" th:if="${session.logged == true}" href="/logout">log out</a> Admin Panel - <a href="titles">titles</a> | <a href="performances">performances</a> | <a href="theaters">[theaters]</a></h1><br/>
        <a class="btn_add" href="theaters/add">Add</a><br/><br/>
        <div class="flex" th:if="${theaters != null}">
            <table class="info_table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Color</th>
                    <th scope="col">#Rows</th>
                    <th scope="col">#Seats</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="theater:${theaters}">
                    <td th:text="${theater.id}"></td>
                    <td th:text="${theater.color}"></td>
                    <td th:text="${#lists.size(theater.seats)}"></td>
                    <td th:text="${#lists.size(theater.seats[0])}"></td>

                    <td><a class="btn_edit" th:href="@{'theaters/edit/' + ${theater.id}}">Edit</a><a class="btn_delete" th:href="@{'theaters/delete/' + ${theater.id}}">Delete</a></td>
                </tr>
                </tbody>
            </table>
            <div th:if="${message != null}">
                <span class="msg" th:text="${message}"></span>
            </div>
        </div>
    </div>
</main>
</body>
</html>